/* Universal Selector */

* {
            background-color: rgb(127, 158, 158);
        }


/* Element (Type) Selector */
h1 {
    color: rgb(39, 255, 1);
    
}

/* Class Selector */

.box{
    text-align: center;
    border: 3px solid black;
    background-color: blueviolet;
    width: 30%;
}


/* ID Selector */

#love {
    color: brown;
}

/* Group Selector */

/* Descendant Selector (Space) */

div p {
    text-align: center;
    font-size: larger;
    background-color: black;
    color: aliceblue;
    width: 20%;
}


/* Child Selector  */


/* 
Adjacent Sibling Selector (+) */



/* General Sibling Selector (~) */


/* Attribute Selector */


Pseudo-Class Selectors


Pseudo-Element Selectors


Multiple Class Selector


Not Selector


Attribute Contains Selector